body {
    display: block;
    margin: 0px;
	height:100%;
	width:100%;
	
}

.container{
	
}

#mainRow{
	height:100%;
	width:100%;
}
#homeDiv{
	
	height:100%;
	width:100%;
}
#leftDiv{
	height:100%;
	display:table-cell;
	vertical-align:middle;
}
#navMenu{
	position:relative;
	height:100%;
	float: right;
	text-align:right;
	vertical-align:middle;
}
#mainImg{
	width:200%;
	height:95%;
	float:left;
	align:right-side;
}

#home,#work,#about,#contact,#clients{
	padding-top:50px;
}

#home{
	
}

#about{
	background-color:white;
}

#work{
	
}

#clients{
	
}

#contact{
	
}